body {
    margin: 0;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    display: flex;
    color: white;
    background-color: #2A2A2A;
    height: 47px;
}

.headerContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 1140px;
}

.quickInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    background-color: #3C3C3C;
}

.quickSettings {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
    background-color: #3C3C3C;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 20px;
    background-color: #FFFFFF;
    height: 80px;
}

.logo {
    margin-top: 15px;
    width: 270px;
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
    flex-grow: 1;
}

.home {
    color: #7FAD39;
}

.cartInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    column-gap: 21px;
    align-items: center;
    width: 196px;
}

.summary {
    width: 103px;
}

.content {
    background-color: #FFFFFF;
}

.footer {
    background-color: #00BFFE;
    width: 100%;
}

.helpbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 20px;
    height: 50px;
}

.picklist {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7FAD39;
    width: 270px;
}

.picklistArrowLogo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 18px;
}

.picklistName {
    width: 142px;
}

.searchBar {
    display: flex;
    flex-flow: row nowrap; 
    flex-grow: 1;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-left: 1px solid rgba(42, 42, 42, 0.2);
    border-top: 1px solid rgba(42, 42, 42, 0.2);
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
}

.searchBtn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #7FAD39;
    width: 106px;
    height: 50px;
    
    box-sizing: border-box;
    border-right: 1px solid rgba(42, 42, 42, 0.2);
    border-top: 1px solid rgba(42, 42, 42, 0.2);
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
}

.searchCategories {
    margin-left: 20px;
}

.searchCategoriesArrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 16px;
}

.searchSeparator {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 6px;
}

.defaultSearchText {
    flex-grow: 1;
}

.phone {
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
    width: 209px;
}

.phoneLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    width: 50px;
    border-radius: 100px;
}

.phoneNumber {
    display: flex;
    align-items: center;
    width: 123px;
}

.categories {
    box-sizing: border-box;
    width: 270px;
    height: 441px;
    border: 1px solid rgba(42, 42, 42, 0.2);
}

.suggestion {
    background-color: #F5F5F5;
    width: 850px;
    height: 441px;
}

.shopNowBtn {
    background-color: #7FAD39;

    width: 141px;
    height: 50px;

}

.shopNowBtn.suggest {
    position: absolute;
    left: 77px;
    top: 304px;
}

.fresh {
    background-color: #F5F5F5;
    position: absolute;
    top: 658px;
    left: 390px;
    width: 270px;
    height: 270px;
}

.dried {
    background-color: #F5F5F5;
    position: absolute;
    top: 658px;
    left: 680px;
    width: 270px;
    height: 270px;
}

.vegetables {
    background-color: #F5F5F5;
    position: absolute;
    top: 658px;
    left: 970px;
    width: 270px;
    height: 270px;
}

.drink {
    background-color: #F5F5F5;
    position: absolute;
    top: 658px;
    left: 1260px;
    width: 270px;
    height: 270px;
}

.categoryBuyBtn {
    background-color: #FFFFFF;
    position: absolute;
    width: 230px;
    height: 43px;
    top: 207px;
    left: 20px;
}

.driedAndDrinkFruits {
    position: absolute;
    background-color: #F5F5F5;
    width: 560px;
    height: 263px;
    top: 1028px;
    left: 390px;
}

.shopNowBtn.driedAndDrink {
    position: absolute;
    top: 147px;
    left: 290px;
}

.summerFruits {
    position: absolute;
    background-color: #F5F5F5;
    width: 560px;
    height: 263px;
    top: 1028px;
    left: 970px;
}

.shopNowBtn.summer {
    position: absolute;
    top: 147px;
    left: 290px;
}