@font-face { 
    font-family: 'Cerebri Sans Pro'; 
    src: url('../fonts/CerebriSansPro-Regular.otf'); 
 }

body {
    font-family: 'Cerebri Sans Pro';
    margin: 0;
}

.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    display: flex;
    color: white;
    background-color: #2A2A2A;
    height: 47px;
}

.headerContent {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 1140px;
}

.quickInfo {
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.quickSettings {
    font-size: 12px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 20px;
    background-color: #FFFFFF;
    height: 80px;
}

.logo {
    margin-top: 15px;
    width: 270px;
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 40px;
    flex-grow: 1;
}

.greenText {
    color: #7FAD39;
}

.cartInfo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    column-gap: 21px;
    align-items: center;
    width: 196px;
}

.summary {
    width: 103px;
}

.summaryText {
    color: #999999;
}

.content {
    background-color: #FFFFFF;
}

.footer {
    background-color: #00BFFE;
    width: 100%;
}

.helpbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 20px;
    height: 50px;
    margin-bottom: 20px;
}

.picklist {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7FAD39;
    width: 270px;
}

.picklistArrowLogo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 18px;
}

.picklistName {
    color: white;
    width: 142px;
}

.searchBar {
    display: flex;
    flex-flow: row nowrap; 
    flex-grow: 1;
}

.search {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-left: 1px solid rgba(42, 42, 42, 0.2);
    border-top: 1px solid rgba(42, 42, 42, 0.2);
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
}

.defaultSearchText {
    color: #999999;
}

.searchBtn {
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #7FAD39;
    width: 106px;
    height: 50px;
    
    box-sizing: border-box;
    border-right: 1px solid rgba(42, 42, 42, 0.2);
    border-top: 1px solid rgba(42, 42, 42, 0.2);
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
}

.searchCategories {
    margin-left: 20px;
}

.searchCategoriesArrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 16px;
}

.searchSeparator {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 6px;
}

.defaultSearchText {
    flex-grow: 1;
}

.phone {
    display: flex;
    column-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    width: 209px;
}

.phoneLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.phoneInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 123px;
    height: 32px;
}

.phoneSupport {
    color: #999999;
    font-size: 12px;
}

.bannerSection {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.categories {
    color: #999999;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    width: 270px;
    height: 441px;
    line-height: 36px;
    border: 1px solid rgba(42, 42, 42, 0.2);
}

.banner {
    display: flex;
    flex-flow: row nowrap;
    background-color: #F5F5F5;
    justify-content: space-between;
    width: 850px;
    height: 441px;
}

.bannerDescription {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 280px;
    height: 268px;
    margin-top: 86px;
    margin-left: 77px;
}

.description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 158px;
}

.shopNowBtn {
    width: 141px;
    height: 50px;
    background-color: #7FAD39;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.bannerImg {
    margin-top: 42px;
    margin-right: 5px;
    mix-blend-mode: darken;
}

.fruitFreshText {
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0.2em;
}

.bannerBaldText {
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    color: #2A2A2A;
}

.deliveryInfo {
    line-height: 19px;
    color: #999999;
}

/*grid*/

.foodTypes {
    display: grid;
    width: 1140px;
    height: 633px;
    gap: 20px;
    row-gap: 100px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 263px;
}

.fresh {
    display: grid;
    background-color: #F5F5F5;
    background-image: url('../img/Fresh.png');
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: top 20px left 20px;
    padding: 20px;
    gap: 11px;
    grid-template-rows: 1fr 43px;
}

.dried {
    display: grid;
    background-color: #F5F5F5;
    background-image: url('../img/Dried.png');
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: top 20px left 20px;
    padding: 20px;
    gap: 11px;
    grid-template-rows: 1fr 43px;
}

.vegetables {
    display: grid;
    background-color: #F5F5F5;
    background-image: url('../img/Vegetables.png');
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: top 20px left 20px;
    padding: 20px;
    gap: 11px;
    grid-template-rows: 1fr 43px;
}

.drink {
    display: grid;
    background-color: #F5F5F5;
    background-image: url('../img/Drink.png');
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: top 20px left 20px;
    padding: 20px;
    gap: 11px;
    grid-template-rows: 1fr 43px;
}


.foodTypesText {
    grid-row: 2 / 3;
    font-size: 20px;
    line-height: 50px;
    font-weight: 900;
    background-color: #FFFFFF;
    display: grid;
    justify-content: center;
    align-items: center;
}

.summerFruitsBanner {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    background-image: url('../img/Summer.png');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

.summerFruitsContext {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.summerFruitsText {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    line-height: 34px;
    color: #FFFFFF;
}

.driedDrinkFruitsBanner {
    grid-column: 3 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    background-image: url('../img/Dried&Drink.png');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

.driedDrinkFruitsContext {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.driedDrinkFruitsText {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    line-height: 34px;
    color: #FFFFFF;
}

.baldBannerText {
    font-weight: 900;
    font-size: 28px;
}

.bannerText {
    font-size: 20px;
}

.productCarousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 20px;
    height: 500px;
    width: 1140px;
}

.card {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 20px;
}

.cardText {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.baldCardText {
    font-weight: 900;
}

.cauliflowerImg {
    background-image: url('../img/Cauliflower.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.organicQuinceImg {
    background-image: url('../img/OrganicQuince.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.tomatoHybridImg {
    background-image: url('../img/Tomato.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.blueberryImg {
    background-image: url('../img/Blueberry.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.capsicumGreenImg {
    background-image: url('../img/CapsicumGreen.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.pomegranateImg {
    background-image: url('../img/Pomegranate.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.hazelnutsImg {
    background-image: url('../img/Hazelnuts.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.greenAppleImg {
    background-image: url('../img/GreenApple.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.raspberryImg {
    background-image: url('../img/FreshRaspberry.png');
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    background-blend-mode: darken;
}

.carouselHeader {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    align-items: center;
    gap: 10px;
}

.carouselHeaderText {
    font-size: 24px;
    font-weight: 900;
    line-height: 50px;
}

.carouselLeftArrow {
    background-color: #F5F5F5;
    border-radius: 600px;
    background-image: url('../img/LeftArrow.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}

.carouselRightArrow {
    background-color: #F5F5F5;
    border-radius: 600px;
    background-image: url('../img/RightArrow.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
}